* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@-webkit-keyframes animatedBody {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}

@keyframes animatedBody {
  0% {
    background-position: 87% 0%;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0%;
  }
}

body {
  background: -webkit-gradient(linear, left top, right bottom, from(#6f71e2), color-stop(#00c3ff), color-stop(#97abe8), color-stop(#cc8dce), color-stop(#e960c7c2), to(#a60d5d));
  background: linear-gradient(to right bottom, #6f71e2, #00c3ff, #97abe8, #cc8dce, #e960c7c2, #a60d5d);
  background-size: 600% 600%;
  -webkit-animation: animatedBody 20s ease infinite;
  animation: animatedBody 20s ease infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  background-color: #fff;
  width: 70%;
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid #8a2be2;
}

.wrapper .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
}

.wrapper .navbar img {
  width: 20px;
}

.wrapper .navbar .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.wrapper .navbar .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.wrapper .navbar .links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}

.wrapper .navbar .links div img {
  width: 15px;
}

.wrapper .navbar .links a {
  text-decoration: none;
  padding: 10px 2px;
  color: #2c2b2b;
}

.wrapper .navbar .links div:hover {
  background-color: #d4d4fa;
  border-radius: 20px;
}

.wrapper .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 50px 100px;
}

.wrapper .about .profileImage {
  width: 30%;
  margin-right: 40px;
  border-radius: 50%;
  border: 2px solid #8a2be2;
}

.wrapper .about .info {
  margin-top: 30px;
}

.wrapper .about .info p {
  width: 80%;
  margin-top: 10px;
  text-align: justify;
  color: gray;
  font-size: 15px;
}

.wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 100px;
}

.wrapper .footer .career p {
  width: 80%;
  margin-top: 10px;
  text-align: justify;
  color: gray;
  font-size: 15px;
}

.wrapper .footer .skills button {
  background-color: #fff;
  color: #000000;
  font-weight: 500;
  border-radius: 5px;
  padding: 4px;
  margin: 2px;
  border: 2px solid #8a2be2;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.wrapper .footer .skills button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #fff;
  width: 70%;
  border-radius: 10px;
  margin-top: 50px;
  border: 1px solid #8a2be2;
  gap: 150px;
}

.container .left {
  background: repeating-linear-gradient(-45deg, #fff, #f7f7fd 8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  padding: 50px;
}

.container .left .back {
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  width: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #9addf1;
  border-radius: 50%;
}

.container .left .back:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.container .left .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 20rem;
  width: 20rem;
  background-color: #fff;
  border-radius: 50%;
}

.container .contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  padding: 150px 0px 200px 0px;
}

.container .contactInfo a {
  text-decoration: none;
  color: #000000;
}

.container .contactInfo img {
  width: 20px;
}

.container .contactInfo .myName {
  color: #39004b;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #9addf1;
}

.container .contactInfo .mobile,
.container .contactInfo .gmail,
.container .contactInfo .location,
.container .contactInfo .github {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  gap: 10px;
}

.container .contactInfo .mobile:hover,
.container .contactInfo .gmail:hover,
.container .contactInfo .location:hover,
.container .contactInfo .github:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=styles.css.map */